{% extends 'Recipehub/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<ARTICLE> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <h2>{{ recipe.title }}</h2>
    <p style="font-size: 15px;"></pstyle> Category: {{ recipe.category.name }} </p> 
    <p><em>Selling Price: {{ recipe.selling_price }}</em></p>
    <p><em>Estimated Profit: ${{ recipe.formatted_profit }}</em></p>

    <br>

    <div class ="row"> 
        <div class="column" style="background-color:#ecb8a5;">
            <h2> Recipe Instructions: </h2>
            <p> {{ recipe.instructions | linebreaksbr}}</p>
        </div>
        <div class="column" style="background-color:#eccfc3;">
            <h2> Ingredients: </h2>
            <ul>
                {% for recipe_ingredient in recipe.recipe_ingredients %}
                    <li>
                        <span>{{ recipe_ingredient.quantity }} {{ recipe_ingredient.unit}}s {{ recipe_ingredient.ingredient.name }} </span>
                        <span class="ingredient-cost">${{ recipe_ingredient.ingredient.cost }}</span>
                    </li>
                {% endfor %}
            </div>
        </div>
    <time> Published date: {{ recipe.published_date }} </time> 
     <aside class="actions" style="padding-right: 27 px">
        <a class="btn btn-secondary" href="{% url 'recipe_edit' pk=recipe.pk %}">
          {% include './icons/pencil_square.svg' %}
        </a>
    
    </aside>
</ARTICLE>
<br>
{% endif %}
{% endblock %}