{% extends 'Recipehub/base.html' %}
{% load static %}
{% block content %}
<img src="{% static 'Recipehub/cupcake.jpg' %}" alt="cupcake!" width="1424" height="400">
    <article> 
        <h2 style="font-size:2.2vw; text-align:center;"> Welcome to RecipeHub! Store your delicious meals and calculate your profit! </h2>
        <h2 style="text-align:center;"> Your stored recipes: </h2>
        <br>
    <article>
{% for recipe in recipe_post %} 
        <br>
        <div class="card">
            {% include './icons/fried_egg.svg' %}
            <div class="card__content">
              <p class="card__title"><a href="{% url 'recipe_detail' pk=recipe.pk %}">{{ recipe.title }}</a></p>
            </div>
          </div>
          
{% endfor %}
{% endblock %}

