{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>RecipeHub!</title>
        <link rel="stylesheet" href="{% static 'css/Recipehub.css' %}">
        <link href='https://fonts.googleapis.com/css?family=Kaushan Script' rel='stylesheet'>
    </head>
    <header>
        <h1><a href="/">RecipeHub!</a></h1>
    </header>
    <br>
    <body>
        {% for recipe in recipe_post %}
            <ARTICLE> 
                <h2><em>{{ recipe.title }}</em></h2><link rel="stylesheet" href="{% static 'css/Recipehub.css' %}">
                <p> Category: {{ recipe.category.name }} </p>
                <p><em>Selling Price: {{ recipe.selling_price }}</em></p>
                <p>Instructions: {{ recipe.instructions | linebreaksbr}}</p>
                <p><em>Estimated Profit: ${{ recipe.formatted_profit }}</em></p>
                <time> Published date: {{ recipe.published_date }}</time>
            </ARTICLE>
            <br>
        {% endfor %}
    </body>
</html>

